name: Test

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM and npm
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'npm'

      - name: Install proselint
        run: |
          sudo add-apt-repository universe
          sudo apt-get install -y python3-proselint

      - name: npm ci
        run: npm ci

      - name: npm run build
        run: npm run build

      - name: npm test
        run: npm test
